/* font style */
.f-2xl {
  font-size: 2rem;
  font-weight: bold;
  line-height: 150%;

  text-align: start;
  margin-bottom: 2rem;
}

.f-xl {
  font-size: 1.5rem;
}

.f-lg {
  font-size: 1.25rem;
}

.f-sm {
  font-size: 0.75rem;
}

/* flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
.focus-level button {
  width: 3.75em;
  height: 3.75em;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.focus-level button:hover {
  opacity: 1.2;
  background-color: var(--gray500-color);
  transition: all 0.1s;
}

.focus-level button:active,
.focus-level button:focus {
  outline-color: var(--focus-color);
  background-color: var(--focus-color);
  color: white;
}

@media (max-width: 424px) {
  .focus-level button {
    width: 3em;
    height: 3em;
  }
}
