/* a11y */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* font style */
.f-2xl {
  font-size: 2rem;
  font-weight: bold;
  line-height: 150%;

  text-align: start;
  margin-bottom: 2rem;
}

.f-xl {
  font-size: 1.5rem;
}

.f-lg {
  font-size: 1.25rem;
}

.f-sm {
  font-size: 0.75rem;
}

/* flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* textarea */
textarea {
  width: 100%;
  border: 3px solid var(--nonfocus-color);
  border-radius: 10px;
  outline-color: var(--focus-color);
  resize: none;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
}

textarea::placeholder {
  font: inherit;
  color: var(--gray-color);
}
