main {
  background-color: var(--main-color);

  max-width: 560px;

  position: relative;
}

main header:nth-child(1) {
  background-color: var(--white-color);
}

section {
  margin: 10px 20px;
  background-color: var(--white-color);

  border-radius: 20px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0.625em;

  color: var(--gray-color);
}

.focus-status-container {
  margin: 30px 20px;
  padding: 28px 0;
}

.focus-status img {
  width: 2.5em;
  height: 2.5em;
  float: right;
  margin-left: 0.7em;
}

.focus-status h2,
p {
  float: left;
}

.focus-status p {
  color: var(--gray-color);
  margin-top: 0.7em;
  clear: left;
}
