@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard-Regular, "Times New Roman", Dotum, "돋움", sans-serif;
  height: 100vh;
  max-height: 100vh;

  text-align: center;
}

main {
  margin: 0px 0px 0px calc(50vw - 50px);
  height: 100%;
}

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  left: calc(50vw - 530px);
}

.background {
  width: 100vw;
  height: 100%;

  position: fixed;
  z-index: -1;

  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
