@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: initial;
}

h2 {
  font-size: 1.4em;
}

ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Pretendard-Regular, "Times New Roman", Dotum, "돋움", sans-serif;
  max-height: 100vh;

  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  max-width: 560px;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--main-color);
  margin: 0px 0px 0px calc(50vw - 50px);
}

main header:nth-child(1) {
  background-color: var(--white-color);
}

footer {
  width: 100%;
  height: fit-content;
  padding: 0.5rem 0;

  color: var(--gray-color);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* section */
.sec-main {
  margin: 10px 20px;
  padding: 30px 28px;

  background-color: var(--white-color);

  border-radius: 20px;
}

.sec-side {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  left: calc(50vw - 530px);
}

/* title */
.title-check::after,
.title-review::after {
  display: inline-block;
  margin-left: 2px;
}

.title-check::after {
  content: "✔️";
}

.title-review::after {
  content: "✏️";
}

/* focus-status */
.focus-status-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.focus-status img {
  width: 2.5em;
  height: 2.5em;
  float: right;
  margin-left: 0.7em;
  margin-top: 0.6em;
}

.focus-status img:hover {
  transform: rotate(15deg);
  transition: all 0.3s;
}

.focus-status h2,
.focus-status p {
  float: left;
}

.focus-status p {
  color: var(--gray-color);
  font-weight: bold;
  margin-top: 0.7em;
  clear: left;
}

/* write-container */
.write-container {
  max-height: calc(100vh - 240px);
  overflow: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;
}

.write-container h2 {
  margin-bottom: 20px;
}

.write-container::-webkit-scrollbar {
  display: none;
}

/* focus-check */
.focus-check h3 {
  margin-bottom: 15px;
}

.focus-check legend {
  color: var(--gray-color);
  font-weight: bold;
}

.focus-check label {
  display: block;
  position: relative;
  color: var(--gray-color);
  font-weight: bold;
}

/* input-radio */
input[type="radio"] {
  appearance: none;
  background-color: var(--gray300-color);
  width: 3.75rem;
  height: 3.75rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"] + span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 500;
  cursor: pointer;
  pointer-events: none;
}

input[type="radio"]:checked + span {
  color: var(--white-color);
}

input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  transform: scale(0);
  transition: 0.25s transform ease-in-out;
  box-shadow: inset 1em 1em var(--focus-color);
  background-color: var(--focus-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* focus-level */
.focus-level {
  margin: 20px 0px;

  display: flex;
  justify-content: space-evenly;
}

.focus-level li {
  position: relative;
}

/* Media Query */
@media (max-width: 1100px) {
  .sec-side {
    display: none;
  }

  main {
    margin: 0 auto;
  }
}

@media (max-width: 424px) {
  input[type="radio"] {
    width: 3em;
    height: 3em;
  }
}
