:root {
  --main-color: #fcf3e6;
  --focus-color: #ffbd60;
  --nonfocus-color: #d5cdc1;
  --navy-color: #263140;
  --gray-color: #7d7d7d;
  --gray500-color: #d9d9d9;
  --gray400-color: #dbdbdb;
  --gray300-color: #f0f0f0;
  --white-color: #ffffff;
}
